@import '../../index.scss';

@mixin sub-heading {
  width: max-content;
  color: #fff;
  padding: 0.75rem 1rem;
  font-size: 2.2rem;

  background: linear-gradient(to right bottom, $text-color, $tomato-color-dark);
  border-radius: 0.75rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  min-height: 96vh;

  &__fig {
    height: 32rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;
    margin-bottom: 7rem;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $heading-color,
        $text-color
      );
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background: $background-color-light;
    color: $heading-color;
    outline: none;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    &:hover {
      filter: brightness(80%);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 80%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        $tomato-color-dark,
        $background-color-dark
      );
    }
  }

  &__dishType {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    &--label {
      @include sub-heading;
    }

    &--item {
      background-color: $background-color-dark;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  &__ingredients {
    margin: 2rem 0;
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;

    &--heading {
      @include sub-heading;
    }
    &--list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      padding-left: 0.5rem;
    }

    &--item {
      display: grid;
      grid-template-columns: max-content 2fr;
      column-gap: 1rem;
      font-size: 1.5rem;
      color: $heading-color;
    }
  }

  &__instructions {
    &--heading {
      @include sub-heading;
      margin-bottom: 1.5rem;
    }

    &--text {
      font-size: 1.6rem;
      color: $heading-color;
    }
  }
}
